server:
  port: 8080

spring:
  profiles:
    active: dev
  application:
    name: User-Management-Service-Task
  datasource:
    url: jdbc:postgresql://postgres:5432/user-management-service-task
    username: postgres
    password: 12345678
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none # setted none because of liquibase
    show-sql: true
  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      group-id: notification-group-v2
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
  mail:
    host: localhost
    port: 1025
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false



logging:
  level:
    root: INFO
    org.springframework.web: WARN
    org.apache.kafka: INFO
    org.springframework.web.servlet: WARN
    org.apache.catalina: WARN
    org.apache.tomcat: WARN
    org.hibernate: WARN
    com.zaxxer.hikari: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: logs/user-management.log
  exception-conversion-word: "%xEx{short}"
